name: Build and Test

on:
  workflow_dispatch:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main
      - release/*
      - production

permissions:
  contents: read
  pull-requests: write
  actions: write

env:
  GOPRIVATE: github.com/microsoft/usvc-*,github.com/microsoft/dcp

jobs:
  build:
    strategy:
      matrix:
        os: [ubuntu-latest]
        include:
        - os: ubuntu-latest
          buildCommand: make build-ci
          testCommand: make test-ci
    name: Build ${{ matrix.os }}
    runs-on: ${{ matrix.os }}

    steps:
    - uses: actions/checkout@v4

    - name: Setup Go environment
      uses: actions/setup-go@v5
      with:
        go-version-file: 'go.mod'
        architecture: 'x64'

    - name: Build
      run: ${{ matrix.buildCommand }}

    - name: Setup .NET
      uses: actions/setup-dotnet@v3
      with:
        dotnet-version: '9.0.x'

    - name: Install SSL Certificates
      run: |
        dotnet dev-certs https --trust

    - name: Run tests
      id: test
      run: ${{ matrix.testCommand }}
      env:
        TEST_CONTEXT_TIMEOUT: 180 # Increase test timeout to three minutes
        DCP_DIAGNOSTICS_LOG_LEVEL: debug
        DCP_DIAGNOSTICS_LOG_FOLDER: ${{ github.workspace }}/test-logs/${{ matrix.os }}
        DCP_TEST_ENABLE_ADVANCED_CERTIFICATES: true # Enable advanced certificate tests that require openssl

    - name: Upload test logs
      uses: actions/upload-artifact@v4
      with:
        name: test-logs
        path: ${{ github.workspace }}/test-logs/
      if: ${{ failure() && steps.test.conclusion == 'failure' }}
