name: Build and validate

on:
  workflow_dispatch:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main
      - release/*
      - production

env:
  GOPRIVATE: github.com/microsoft/usvc-*

jobs:
  build:
    strategy:
      matrix:
        os: [ubuntu-latest, windows-latest, macos-latest]
        include:
        - os: ubuntu-latest
          buildCommand: make build-ci
          testCommand: make test-ci
        - os: macos-latest
          buildCommand: make build-ci
          testCommand: make test-ci
        - os: windows-latest
          buildCommand: make compile
          testCommand: make test
    name: Build ${{ matrix.os }}
    runs-on: ${{ matrix.os }}

    steps:
    - uses: actions/checkout@v3

    - name: Setup Go environment
      uses: actions/setup-go@v4.0.1
      with:
        go-version-file: 'go.mod'
        architecture: 'x64'

    - name: Build
      run: ${{ matrix.buildCommand }}

    - name: Verify generated files up-to-date
      uses: actions/github-script@v6
      with:
        script: |
          const result = await exec.getExecOutput('git status -s');
          if (result.exitCode != 0 || result.stdout.trim() != '') {
            core.setFailed('Generated files not up-to-date. Please run make generate-ci and commit the latest versions.')
          }
      if: matrix.os != 'windows-latest'

    - name: Run tests
      id: test
      run: ${{ matrix.testCommand }}
      env:
        TEST_CONTEXT_TIMEOUT: 3 # Increase test timeout to three minutes
        DCP_DIAGNOSTICS_LOG_LEVEL: debug
        DCP_DIAGNOSTICS_LOG_FOLDER: ${{ github.workspace }}/test-logs/${{ matrix.os }}

    - name: Upload test logs
      uses: actions/upload-artifact@v3
      with:
        name: test-logs
        path: ${{ github.workspace }}/test-logs/
      if: ${{ failure() && steps.test.conclusion == 'failure' }}
